.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 440px;
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 0;
}

@media screen and (min-width: 1280px) {
    .place__title {
        max-width: 460px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px;
        order: -1;
    }
}