.photo-grid {
    max-width: 928px;
    margin: 92px 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
}

@media screen and (max-width: 767px) {
    .photo-grid {
        margin: 64px 16px;
        grid-template-columns: 1fr;
        gap: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        margin: 88px 24px;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        max-width: 1184px;
        grid-template-columns: repeat(4, 1fr);
        margin: 92px auto;
    }
}