.cover {
    width: 100%;
    max-width: 1184px;
    min-height: 640px;
    height: 62.5vw;
    background-image: url(../../images/cover__background.jpg);
    background-size: cover;
    margin: 0 auto;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .cover {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        min-height: 200px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        min-height: 740px;
        height: 740px;
    }
}