.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    margin: 195px auto 32px;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        margin: 33px 16px 16px;
    }
}