.place {
    display: grid;
    grid-template-rows: 1fr 440px;
    grid-template-columns: 440px 1fr;
    grid-auto-flow: dense;
    row-gap: 48px;
    column-gap: 32px;
}

@media screen and (min-width: 1280px) {
    .place {
        grid-template-rows: 1fr 460px;
        grid-template-columns: 460px 1fr;
        column-gap: 40px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        column-gap: 28px;
        grid-template-columns: 340px 1fr;
    }
}

@media screen and (max-width: 767px) {
    .place {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
}