.footer {
    margin: 92px auto 24px;
    max-width: 928px;
}

@media screen and (min-width: 1280px) {
    .footer {
        max-width: 1184px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 186px;
        margin: 64px 0 24px 16px;
    }
}